<!-- Footer Start -->
<footer class="footer-wrap style-four position-relative index-1 pt-130">
  <img
    src="/images/shape-8.webp"
    alt="Image"
    class="footer-shape position-absolute top-0 moveHorizontal"
  />
  <div class="footer-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-4">
          <a href="index.html" class="logo">
            <img src="/images/logo-white.webp" alt="Logo" />
          </a>
        </div>
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-7 col-md-8 ps-xxl-4">
          <div class="footer-widget">
            <h2 class="text-white mb-20">اطلاع رسانی ما</h2>
            {{#if messages.joinSuccess}}
              <h4 class="text-success mb-20">{{messages.joinSuccess}}</h2>
            {{/if}}
            {{#if messages.joinedBefore}}
              <h4 class="text-danger mb-20">{{messages.joinedBefore}}</h4>
            {{/if}}
            <form
              action="/news/"
              method="post"
              class="subscribe-form position-relative"
            >
              <input
                type="email"
                placeholder="ایمیل"
                class="w-100 h-60 text-white border-0"
                name="email"
              />
              <button
                type="submit"
                class="border-0 text-white fw-bold position-absolute transition"
              >
                دنبال کردن
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-widget-wrapper d-flex flex-wrap pb-30">
      <div class="footer-widget position-relative mb-30">
        <h3 class="footer-widget-title fw-semibold text-white">
          اتصال سریع
        </h3>
        <ul class="footer-menu list-unstyle">
          <li>
            <a href="my-account.html">مشاهده اکانت</a>
          </li>
          <li>
            <a href="track-order.html">پیگیری سفارش</a>
          </li>
          <li>
            <a href="shop-left-sidebar.html">پیشنهاد</a>
          </li>
          <li>
            <a href="shop-left-sidebar.html">تبلیغات</a>
          </li>
          <li>
            <a href="testimonials.html">نظرات مشتریان</a>
          </li>
        </ul>
      </div>
      <div class="footer-widget position-relative mb-30">
        <h3 class="footer-widget-title fw-semibold text-white">
          لینک شرکت
        </h3>
        <ul class="footer-menu list-unstyle">
          <li>
            <a href="about.html">درباره ما</a>
          </li>
          <li>
            <a href="shop-left-sidebar.html">فروشگاه</a>
          </li>
          <li>
            <a href="contact-us.html">مرکز کمک</a>
          </li>
          <li>
            <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
          </li>
          <li>
            <a href="terms-conditions.html">شرایط و ضوابط</a>
          </li>
        </ul>
      </div>
      <div class="footer-widget position-relative mb-30">
        <h3 class="footer-widget-title fw-semibold text-white">
          ساعت کاری
        </h3>
        <ul class="working-hours list-unstyle">
          <li class="position-relative fs-xxl-18">
            <span class="d-block text_primary">شنبه تا چهارشنبه</span>
            <span class="d-block">از ۹ تا ۲۰</span>
          </li>
          <li class="position-relative fs-xxl-18">
            <span class="d-block text_primary">پنجشنبه</span>
            <span class="d-block">از ۹ تا ۱۸</span>
          </li>
          <li class="position-relative fs-xxl-18">
            <span class="d-block text_primary">جمعه</span>
            <span class="d-block">بسته</span>
          </li>
        </ul>
      </div>
      <div class="footer-widget position-relative mb-30">
        <h3 class="footer-widget-title fw-semibold text-white">
          راه های ارتباطی
        </h3>
        <ul class="contact-info list-unstyle">
          <li class="position-relative fs-xxl-18">
            <span class="position-absolute start-0"><img
                src="/images/icons/phone.svg"
                alt="Image"
              /></span><a href="tel:8002162020">۰۲۱۴۴۷۱۰۷۵۰</a>
          </li>
          <li class="position-relative fs-xxl-18">
            <span class="position-absolute start-0"><img
                src="/images/icons/mail.svg"
                alt="Image"
              /></span><a
              href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#224b4c444d62475643500c414d4f"
            ><span
                class="__cf_email__"
                data-cfemail="f990979f96b99c8d988bd79a9694"
              >[rtl@gmail.com]</span></a>
          </li>
          <li class="position-relative fs-xxl-18">
            <span class="position-absolute start-0"><img
                src="/images/icons/globe.svg"
                alt="Image"
              /></span><a
              href="https://www.rtl-theme.com/"
              target="_blank"
            >www.rtl-theme.com</a>
          </li>
          <li class="position-relative fs-xxl-18">
            <span class="position-absolute start-0"><img
                src="/images/icons/map.svg"
                alt="Image"
              /></span>تهران،منطقه 22،شهرک گلستان
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="copyright-text mb-0">
            <i class="ri-copyright-line"></i><span
              class="text_primary fw-semibold"
            >Etar</span>
            ساخته شده توسط
            <a href="https://www.rtl-theme.com/" class="link style-two">راست چین</a>
          </p>
        </div>
        <div class="col-md-6 text-md-end">
          <ul class="social-profile style-one list-unstyle">
            <li>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a
                href="https://www.twitter.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-twitter-x-line"></i></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-linkedin-fill"></i></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-instagram-line"></i></a>
            </li>
            <li>
              <a
                href="https://web.whatsapp.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-whatsapp-line"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

<!-- Back to Top -->
<button
  type="button"
  id="backtotop"
  class="position-fixed text-center border-0 p-0"
>
  <i class="ri-arrow-up-line"></i>
</button>