<html lang="zxx">

  <!-- Mirrored from templates.hibotheme.com/etar/default/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:30 GMT -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Link of CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper.bundle.min.css" />
    <link rel="stylesheet" href="/css/scrollcue.min.css" />
    <link rel="stylesheet" href="/css/remixicon.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>ایتار-قالب رستوران و کافی شاپ</title>
    <link rel="icon" type="image/png" href="/images/favicon.webp" />
  </head>
  <body class="bg-bunk">

    <!--  Preloader Start -->
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!--  Preloader End -->

    <!-- Navbar Area Start -->
    <div
      class="navbar-area style-three position-relative top-0 start-0 w-100"
      id="navbar"
    >
      <div class="navbar-top border-0 bg-mild">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-3 order-xl-3 order-md-1 order-2">
              <ul class="social-profile list-unstyle left">
                <li><a href="https://www.facebook.com/" target="_blank"><i
                      class="ri-facebook-fill"
                    ></i></a></li>
                <li><a href="https://www.twitter.com/" target="_blank"><i
                      class="ri-twitter-x-line"
                    ></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i
                      class="ri-linkedin-fill"
                    ></i></a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank"><i
                      class="ri-whatsapp-line"
                    ></i></a></li>
              </ul>
            </div>
            <div
              class="col-xl-8 col-md-9 order-xl-2 order-md-2 order-1 text-md-end ps-md-0"
            >
              <p
                class="fw-bold mb-0 text-md-end text-center text-white right"
              >به رستوران Etar خوش آمدید. ما همه روزه در ساعت 9:00 صبح باز و در
                12:00 شب بسته می شویم.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-bunk">
        <div class="container">
          <nav
            class="navbar navbar-expand-lg d-flex justify-content-between align-items-center"
          >
            <a class="navbar-brand" href="index.html">
              <img src="/images/logo-white.webp" alt="logo" />
            </a>
            <div class="d-flex align-items-center d-lg-none">
              <div class="others-option d-flex flex-wrap align-items-center">
                <button
                  type="button"
                  class="search-btn d-flex flex-column align-items-center justify-content-center bg-transparent rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#searchModal"
                >
                  <img src="/images/icons/search.svg" alt="Image" />
                </button>
                <a
                  href="my-account.html"
                  class="user-link d-flex flex-column align-items-center justify-content-center rounded-circle"
                ><img src="/images/icons/user.svg" alt="Image" /></a>
                <a
                  href="cart.html"
                  class="shopcart d-flex flex-column align-items-center justify-content-center position-relative rounded-circle"
                ><img src="/images/icons/cart.svg" alt="Image" /><span
                    class="d-inline-block text-center rounded-circle text-white position-absolute"
                  >۰۲</span></a>
              </div>
              <a
                class="navbar-toggler d-lg-none"
                data-bs-toggle="offcanvas"
                href="#navbarOffcanvas"
                role="button"
                aria-controls="navbarOffcanvas"
              >
                <span class="burger-menu">
                  <span class="top-bar"></span>
                  <span class="middle-bar"></span>
                  <span class="bottom-bar"></span>
                </span>
              </a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    صفحه اصلی
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="index.html" class="nav-link">صفحه اول</a>
                    </li>
                    <li class="nav-item">
                      <a href="index-2.html" class="nav-link">صفحه دوم</a>
                    </li>
                    <li class="nav-item">
                      <a href="index-3.html" class="nav-link">صفحه سوم</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="about.html" class="nav-link">
                    درباره
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    منو
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="restaurant-menu.html" class="nav-link">
                        منو رستوران
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="cafe-menu.html" class="nav-link">
                        منو قهوه
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    صفحه
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        خدمات
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a href="services.html" class="nav-link">
                            همه خدمات
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="service-details.html" class="nav-link">
                            جزئیات خدمات
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        نمونه کار ها
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a href="portfolio.html" class="nav-link">
                            نمونه کار ها
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="portfolio-details.html" class="nav-link">
                            جزئیات نمونه کار ها
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a href="book-a-table.html" class="nav-link">
                        میز رزرو کنید
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="our-chef.html" class="nav-link">
                        آشپز های ما
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="testimonials.html" class="nav-link">
                        گواهینامه ها
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="our-history.html" class="nav-link">
                        تاریخچه ما
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="pricing-plan.html" class="nav-link">
                        طرح قیمت گذاری
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="gallery.html" class="nav-link">
                        گالری
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="faq.html" class="nav-link">
                        سؤالات متداول
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="terms-conditions.html" class="nav-link">
                        شرایط و ضوابط
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="privacy-policy.html" class="nav-link">
                        سیاست حفظ حریم خصوصی
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="error-404.html" class="nav-link">
                        ارور 404
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a
                    href="javascript:void(0)"
                    class="dropdown-toggle nav-link active"
                  >
                    فروشگاه
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="shop-left-sidebar.html" class="nav-link">
                        نوار سمت راست
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-right-sidebar.html" class="nav-link">
                        نوار سمت چپ
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-grid.html" class="nav-link">
                        شبکه فروشگاه
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-details.html" class="nav-link">
                        جزئیات فروشگاه
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="cart.html" class="nav-link">
                        سبد خرید
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="wishlist.html" class="nav-link active">
                        لیست علاقه مندی ها
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="checkout.html" class="nav-link">
                        پرداخت پول
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="my-account.html" class="nav-link">
                        حساب من
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    <span>وبلاگ</span>
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        طرح بندی وبلاگ
                      </a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a href="blog-left-sidebar.html" class="nav-link">
                            نوار سمت راست
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="blog-right-sidebar.html" class="nav-link">
                            نوار سمت چپ
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="blog-grid.html" class="nav-link">
                            شبکه وبلاگ
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        طرح بندی جزئیات وبلاگ
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a
                            href="blog-details-left-sidebar.html"
                            class="nav-link"
                          >
                            نوار سمت راست
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="blog-details-right-sidebar.html"
                            class="nav-link"
                          >
                            نوار سمت چپ
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="blog-details-no-sidebar.html"
                            class="nav-link"
                          >
                            جزئیات وبلاگ بدون وار
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="contact-us.html" class="nav-link">
                    ارتباط
                  </a>
                </li>
              </ul>
              <div
                class="others-option d-flex align-items-center justify-content-end"
              >
                <button
                  type="button"
                  class="search-btn d-flex flex-column align-items-center justify-content-center bg-transparent rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#searchModal"
                >
                  <img src="/images/icons/search.svg" alt="Image" />
                </button>
                <a
                  href="my-account.html"
                  class="user-link d-flex flex-column align-items-center justify-content-center rounded-circle"
                ><img src="/images/icons/user.svg" alt="Image" /></a>
                <a
                  href="cart.html"
                  class="shopcart d-flex flex-column align-items-center justify-content-center position-relative rounded-circle"
                ><img src="/images/icons/cart.svg" alt="Image" /><span
                    class="d-inline-block text-center rounded-circle text-white position-absolute"
                  >۰۲</span></a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Start Responsive Navbar Area -->
    <div
      class="responsive-navbar offcanvas offcanvas-end border-0"
      data-bs-backdrop="static"
      tabindex="-1"
      id="navbarOffcanvas"
    >
      <div class="offcanvas-header">
        <a href="index.html" class="logo d-inline-block">
          <img src="/images/logo-white.webp" alt="Image" />
        </a>
        <button
          type="button"
          class="close-btn bg-transparent position-relative lh-1 p-0 border-0"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="responsive-menu">
          <li class="responsive-menu-list"><a href="javascript:void(0);">صفحه
              اصلی</a>
            <ul class="responsive-menu-items">
              <li><a href="index.html">صفحه اول</a></li>
              <li><a href="index-2.html">صفحه دوم</a></li>
              <li><a href="index-3.html">صفحه سوم</a></li>
            </ul>
          </li>
          <li><a href="about.html">درباره</a></li>
          <li class="responsive-menu-list"><a href="javascript:void(0);">منو</a>
            <ul class="responsive-menu-items">
              <li><a href="restaurant-menu.html">منو رستوران</a></li>
              <li><a href="cafe-menu.html">منو قهوه</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
            >صفحه</a>
            <ul class="responsive-menu-items">
              <li class="responsive-menu-list"><a
                  href="javascript:void(0);"
                >خدمات</a>
                <ul class="responsive-menu-items">
                  <li><a href="services.html">همه خدمات</a></li>
                  <li><a href="service-details.html">جزئیات خدمات</a></li>
                </ul>
              </li>
              <li class="responsive-menu-list"><a
                  href="javascript:void(0);"
                >نمونه کار ها</a>
                <ul class="responsive-menu-items">
                  <li><a href="portfolio.html">All Portfolio</a></li>
                  <li><a href="portfolio-details.html">جزئیات نمونه کار ها</a></li>
                </ul>
              </li>
              <li><a href="book-a-table.html">میز رزرو کنید</a></li>
              <li><a href="our-chef.html">آشپز های ما</a></li>
              <li><a href="testimonials.html">گواهینامه ها</a></li>
              <li><a href="our-history.html">تاریخچه ما</a></li>
              <li><a href="pricing-plan.html">طرح قیمت گذاری</a></li>
              <li><a href="gallery.html">گالری</a></li>
              <li><a href="faq.html">سؤالات متداول</a></li>
              <li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
              <li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
              <li><a href="error-404.html">ارور ۴۰۴</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
              class="active"
            >فروشگاه</a>
            <ul class="responsive-menu-items">
              <li><a href="shop-left-sidebar.html">نوار سمت راست</a></li>
              <li><a href="shop-right-sidebar.html">نوار سمت چپ </a></li>
              <li><a href="shop-grid.html">شبکه فروشگاه</a></li>
              <li><a href="shop-details.html">جزئیات فروشگاه</a></li>
              <li><a href="cart.html">سبد خرید</a></li>
              <li><a href="wishlist.html" class="active">لیست علاقه مندی ها</a></li>
              <li><a href="checkout.html">پرداخت پول</a></li>
              <li><a href="my-account.html">حساب من</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
            >وبلاگ</a>
            <ul class="responsive-menu-items">
              <li class="responsive-menu-list">
                <a href="javascript:void(0);">طرح بندی وبلاگ</a>
                <ul class="responsive-menu-items">
                  <li><a href="blog-left-sidebar.html">نوار سمت راست</a></li>
                  <li><a href="blog-right-sidebar.html">نوار سمت چپ</a></li>
                  <li><a href="blog-grid.html">شبکه وبلاگ</a></li>
                </ul>
              </li>
              <li class="responsive-menu-list"><a href="javascript:void(0);">طرح
                  بندی جزئیات وبلاگ</a>
                <ul class="responsive-menu-items">
                  <li><a href="blog-details-left-sidebar.html">نوار سمت راست</a></li>
                  <li><a href="blog-details-right-sidebar.html">نوار سمت چپ</a></li>
                  <li><a href="blog-details-no-sidebar.html">
                      جزئیات وبلاگ بدون وار</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="contact-us.html">ارتباط</a></li>
        </ul>
        <div class="option-item">
          <ul class="social-profile style-one list-unstyle">
            <li><a
                href="https://www.facebook.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-facebook-fill"></i></a></li>
            <li><a
                href="https://www.twitter.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-twitter-x-line"></i></a></li>
            <li><a
                href="https://www.linkedin.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-linkedin-fill"></i></a></li>
            <li><a
                href="https://www.instagram.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-instagram-line"></i></a></li>
            <li><a
                href="https://web.whatsapp.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-whatsapp-line"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Start Search Modal -->
    <div
      class="modal fade searchModal"
      id="searchModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <input
              type="text"
              class="form-control"
              placeholder="جست و جو...."
            />
            <button type="submit"><i class="ri-search-line"></i></button>
          </form>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ><i class="ri-close-fill"></i></button>
        </div>
      </div>
    </div>
    <!-- End Search Modal -->

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-wrap bg-mild position-relative">
      <img
        src="/images/breadcrumb/br-shape-1.webp"
        alt="Image"
        class="br-shape-one position-absolute sm-none bounce"
      />
      <img
        src="/images/breadcrumb/br-shape-2.webp"
        alt="Image"
        class="br-shape-two position-absolute sm-none moveHorizontal"
      />
      <img
        src="/images/breadcrumb/br-shape-3.webp"
        alt="Image"
        class="br-shape-three position-absolute top-0 end-0 h-100"
      />
      <div class="container text-center ps-xxl-4">
        <h2 class="br-title text-white">لیست علاقه مندی ها</h2>
        <ul class="br-menu list-unstyle">
          <li class="fs-xxl-20"><a href="index.html">صفحه اصلی</a></li>
          <li class="fs-xxl-20">لیست علاقه مندی ها</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Cart section start -->
    <div class="cart-wrap ptb-130">
      <div class="container style-two">
        <div class="cart-table px-xxl-3 mb-65">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-white f-secondary fs-xxl-18"
                >محصول</th>
                <th
                  scope="col"
                  class="text-white f-secondary fs-xxl-18"
                >نام</th>
                <th scope="col" class="text-white f-secondary fs-xxl-18">قیمت
                  واحد</th>
                <th
                  scope="col"
                  class="text-white f-secondary fs-xxl-18 text-center"
                >افزودن به سبد خرید</th>
                <th scope="col" class="text-white f-secondary fs-xxl-18"></th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
                <tr>
                  <td>
                    <div class="product-img">
                      <img
                        src="/images/covers/items/{{this.cover}}"
                        alt="Image"
                        style="width: 120px; height: 120px;"
                      />
                    </div>
                  </td>
                  <td>
                    <a
                      class="fs-18 text-white fw-bold"
                      href="shop-details.html"
                    >{{this.name}}</a>
                  </td>
                  <td class="fs-18 fw-bold text-white">{{this.price}} تومان</td>
                  <td class="text-center">
                    <a href="cart.html" class="btn style-two">افزودن به سبد خرید</a>
                  </td>
                  <td>
                    <button
                      id="delbtn"
                      class="cart-action bg-transparent border-0 p-0"
                      type="button"
                    >
                      <i class="ri-delete-bin-6-line"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="row mb-50 px-xxl-3">
          <div
            class="col-xl-7 offset-xl-5 col-lg-5 offset-lg-7 col-md-5 offset-md-7 text-md-end"
          >
            <button class="btn style-one" type="button">به خرید ادامه دهید</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart section end -->

    <!-- Footer Start -->
    <footer class="footer-wrap style-four position-relative index-1 pt-130">
      <img
        src="/images/shape-8.webp"
        alt="Image"
        class="footer-shape position-absolute top-0 moveHorizontal"
      />
      <div class="footer-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-4">
              <a href="index.html" class="logo">
                <img src="/images/logo-white.webp" alt="Logo" />
              </a>
            </div>
            <div
              class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-7 col-md-8 ps-xxl-4"
            >
              <div class="footer-widget">
                <h2 class="text-white mb-20">اطلاع رسانی ما</h2>
                <form action="#" class="subscribe-form position-relative">
                  <input
                    type="email"
                    placeholder="ایمیل"
                    class="w-100 h-60 text-white border-0"
                  />
                  <button
                    type="submit"
                    class="border-0 text-white fw-bold position-absolute transition"
                  >دنبال کردن</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-widget-wrapper d-flex flex-wrap pb-30">
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">اتصال سریع</h3>
            <ul class="footer-menu list-unstyle">
              <li>
                <a href="my-account.html">مشاهده اکانت</a>
              </li>
              <li>
                <a href="track-order.html">پیگیری سفارش</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">پیشنهاد</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">تبلیغات</a>
              </li>
              <li>
                <a href="testimonials.html">نظرات مشتریان</a>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">لینک شرکت</h3>
            <ul class="footer-menu list-unstyle">
              <li>
                <a href="about.html">درباره ما</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">فروشگاه</a>
              </li>
              <li>
                <a href="contact-us.html">مرکز کمک</a>
              </li>
              <li>
                <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
              </li>
              <li>
                <a href="terms-conditions.html">شرایط و ضوابط</a>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">ساعت کاری</h3>
            <ul class="working-hours list-unstyle">
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">شنبه تا چهارشنبه</span>
                <span class="d-block">از ۹ تا ۲۰</span>
              </li>
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">پنجشنبه</span>
                <span class="d-block">از ۹ تا ۱۸</span>
              </li>
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">جمعه</span>
                <span class="d-block">بسته</span>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">راه های
              ارتباطی</h3>
            <ul class="contact-info list-unstyle">
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/phone.svg" alt="Image" /></span><a
                  href="tel:8002162020"
                >۰۲۱۴۴۷۱۰۷۵۰</a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/mail.svg" alt="Image" /></span><a
                  href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#6f060109002f0a1b0e1d410c0002"
                ><span
                    class="__cf_email__"
                    data-cfemail="8de4e3ebe2cde8f9ecffa3eee2e0"
                  >[rtl@gmail.com]</span></a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/globe.svg" alt="Image" /></span><a
                  href="https://www.rtl-theme.com/"
                  target="_blank"
                >www.rtl-theme.com</a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img
                    src="/images/icons/map.svg"
                    alt="Image"
                  /></span>تهران،منطقه 22،شهرک گلستان</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p class="copyright-text mb-0"><i
                  class="ri-copyright-line"
                ></i><span class="text_primary fw-semibold">Etar</span>
                ساخته شده توسط
                <a href="https://www.rtl-theme.com/" class="link style-two">راست
                  چین</a></p>
            </div>
            <div class="col-md-6 text-md-end">
              <ul class="social-profile style-one list-unstyle">
                <li><a
                    href="https://www.facebook.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-facebook-fill"></i></a></li>
                <li><a
                    href="https://www.twitter.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-twitter-x-line"></i></a></li>
                <li><a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-linkedin-fill"></i></a></li>
                <li><a
                    href="https://www.instagram.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-instagram-line"></i></a></li>
                <li><a
                    href="https://web.whatsapp.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-whatsapp-line"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- Back to Top -->
    <button
      type="button"
      id="backtotop"
      class="position-fixed text-center border-0 p-0"
    >
      <i class="ri-arrow-up-line"></i>
    </button>

    <!-- Link of JS files -->
    <script data-cfasync="false" src="/js/email-decode.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper.bundle.min.js"></script>
    <script src="/js/fslightbox.js"></script>
    <script src="/js/scrollcue.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

  <!-- Mirrored from templates.hibotheme.com/etar/default/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:30 GMT -->
</html>